<!DOCTYPE html>
<html>
  <head>
    <title>City</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <% if current_user %>
              <li><%= link_to "Sites", admin_sites_path %></li>
              <li><%= link_to "My Account", admin_user_path(current_user) %></li>
            <% end %>
          </ul>
          <ul class="nav pull-right">
            <% if current_user %>
              <li><%= link_to "Logout", admin_logout_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

     <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well">
            <%= render "#{params[:controller]}/subnav" rescue nil %>
          </div>
        </div>
        <div class="span10">
          <%= yield %>
        </div>
      </div>
    </div>

    <% flash.each do |name, msg| %>                                                                                                         
      <%= content_tag :div, msg, :class => "flash alert alert-#{name}" %>
    <% end %>
  </body>
</html>
